html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: (4, 1fr);
  grid-template-rows: (5, 1fr);
  color: white;
  padding: 50px;
  grid-auto-rows: 50px;
  grid-auto-columns: 100px;
  justify-content: center;
}

.hiddenCal {
  display: hidden;
}

input {
  grid-column: 1 / 4;
  outline-style: none;
  user-select: none;
  text-align: right;
  border-style: none;
  background-color: black;
  color: white;
  font-size: 15pt;
  ime-mode: disabled;
}

button {
  margin: 3px;
  border-style: none;
  background-color: rgb(119, 119, 119);
  border-radius: 10px;
  outline-style: none;
  color: white;
  user-select: none;
}

button:active {
  background-color: rgb(88, 88, 88);
}

.orange {
  background-color: orange;
}

.orange:active {
  background-color: rgb(197, 129, 4);
}

.clearBtn {
  background-color: rgb(170, 170, 170);
}

.clearBtn:active {
  background-color: rgb(155, 153, 153);
}

#clear {
  grid-column: 4 / 5;
}

#resultBtn {
  grid-column: 2 / 4;
}